

.customer-detail-grid {
    width: 100%;
    margin: 0 auto;
}

.detail-group {
    margin-bottom: 30px; /* 카테고리별 간격 추가 */
}

.detail-label {
    font-weight: bold;
    margin-top: 10px;
}

.detail-value {
    margin-bottom: 10px;
    padding: 10px 0;
    border-bottom: 1px solid #ccc; /* 밑줄 추가 */
}

.profile-picture-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-content {
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}

.profile-picture {
    width: 300px;
    height: 300px;
    border: 1px dashed #FFB755;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

button {
    border-radius: 5px;
    padding: 10px 20px;
}
