.dashboard-container {
  display: fixed;
  flex-direction: column;
  padding: 16px;
  margin-top: 20px;
}

.dashboard-header {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-title {
  background-color: #FFB755;
  color: white;
  padding: 8px;
  border-radius: 15px;
}

.dashboard-summary {
  padding: 8px;
  padding-left: 462px;
  background-color: #FFB755;
  color: white;
  border-radius: 15px;
}

.dashboard-chart {
  background-color: white;
  border-radius: 15px;

}

.chart-title {
  background-color: #FFB755;
  color: white;
  padding: 8px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard-info {
  width: 408px;
  height: 264px;
  border-radius: 15px;
}

.info-title {
  background-color: #FFB755;
  color: white;
  padding: 8px;
  border-radius: 15px;
  text-align: center;
}

.info-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75%;
  padding: 8px;
}

.info-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}


.horizontal-line {
  width: 100%;
  height: 1px;
  background-color: black;
  margin: 8px;
}



.table-title {
  background-color: #FFB755;
  color: white;
  padding: 8px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}





 