.dashboard-container {
    display: flex;
    flex-direction: column;
    padding: 16px;
  }
  
  .dashboard-header {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .dashboard-title {
    background-color: #FFB755;
    color: white;
    padding: 8px;
    border-radius: 8px;
  }
  
  .dashboard-summary {
    padding: 8px 16px;
    background-color: #FFB755;
    color: white;
    border-radius: 8px;
  }
  
  .dashboard-chart {
    padding: 16px;
    background-color: #FFE4B5;
  }
  
  .chart-title {
    background-color: #FFB755;
    color: white;
    padding: 8px;
    border-radius: 8px;
  }
  
  .dashboard-info {
    padding: 16px;
    width: 428px;
    height: 264px;
  }
  
  .info-title {
    background-color: #FFB755;
    color: white;
    padding: 8px;
    border-radius: 8px;
  }
  
  .dashboard-table {
    padding: 16px;
  }
  
  .table-title {
    background-color: #FFB755;
    color: white;
    padding: 8px;
    border-radius: 8px;
  }

  .horizontal-line {
    position: absolute;
    width: 408px; /* Adjust width as needed */
    height: 1.25px;
    background-color: #FFB755; /* Adjust color as needed */
  }
  