
/*신고 접수 내역 및 기타*/
.table-title-container {
  background-color: #FFB755;
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 15px;
  margin-bottom: 20px;
}

/*셀 색깔*/
.MuiTableCell-head {
  background-color: #FFB755;
  color: white;
  font-weight: bold;
}


/*오늘의 허니팟 색깔*/
.dashboard-header {
  margin-bottom: 16px;
  display: flex;
}

.dashboard-title {
  background-color: #FFB755;
  color: white;
  padding: 8px;
  border-radius: 15px;
}

.dashboard-summary {
  padding: 8px;
  padding-left: 462px;
  background-color: #FFB755;
  color: white;
  border-radius: 15px;
}


/*차트 색깔*/
.chart-title {
  background-color: #FFB755;
  color: white;
  padding: 8px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*매칭 횟수 및 기타*/
.info-title {
  background-color: #FFB755;
  color: white;
  padding: 8px;
  border-radius: 15px;
  text-align: center;
}

.info-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75%;
  padding: 8px;
}

.dashboard-info-container {
  display: flex;
  gap: 23px; /* Space between .dashboard-info elements */
}

.dashboard-info { /* Adjust height based on padding or margins */
  width: 624px;
  height: 267px;
  border-radius: 20px;
}

.info-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}


.horizontal-line {
  width: 100%;
  height: 1px;
  background-color: black;
  margin: 8px;
}


/*신고 접수 내역 및 기타 흰색*/
.table-title {
  background-color: #FFB755;
  color: white;
  padding: 8px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}





 
